.order-button {
    position: fixed;
    border: none;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 365px;
    height: 60px;
    border-radius: 5px;
    background-color: rgba(74, 74, 74, 1);
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
  }
  .order-button:checked {
    background-color: #ffffff;
  }

  .order-button .order-div {
    font-size: 16px;
    font-weight: 500;
  }
  .order-button .total-price {
    font-size: 16px;
    font-weight: normal;
    color: #ffffff; /* Text color for total price */
    text-align: right;
  }